@font-face {
  font-family: Chicago;
  src: url("ChicagoFLF.ttf");
}
.navbar_logo_font {
  font-family: "Chicago";
}

@font-face {
  font-family: "NanumSaquareR";
  src: url("NanumSquareR.ttf");
}
@font-face {
  font-family: "NanumSaquareB";
  src: url("NanumSquareB.ttf");
}
@font-face {
  font-family: "NanumSaquareEB";
  src: url("NanumSquareEB.ttf");
}
@font-face {
  font-family: "NanumSaquareL";
  src: url("NanumSquareL.ttf");
}
