{% load static %}

<nav class="text-center m-8">
  <div class="flex justify-center p-2">
    <img src="{% static 'holo_play_logo.png' %}" alt="hololive logo" class="w-11 mr-2"/>
    <h1 class="navbar_logo_font text-5xl text-my-color">
      hololive
    </h1>
  </div>
  <div>
    <ul>
      <li>home</li>
      <li>pro</li>

      {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}">
          <li>Login</li>
        </a>
      {% else %}
        <a href="{% url 'accountapp:logout' %}">
          <li>Logout</li>
        </a>
      {% endif %}

    </ul>
  </div>
</nav>
