{% load static %}
<style>
  @font-face {
    font-family: ChicagoFLF;
    src: url("{% static 'chicagoFLF.ttf' %}");
  }
</style>

<nav class="text-center m-8">
  <div class="flex justify-center p-2">
    <img
      src="{% static 'holo_play_logo.png' %}"
      alt="hololive logo"
      class="w-11 mr-2"
    />
    <h1 style="font-family: ChicagoFLF" class="text-5xl text-my-color">
      hololive
    </h1>
  </div>
  <div>
    <ul>
      <li>home</li>
      <li>pro</li>
      <li>duce</li>
    </ul>
  </div>
</nav>
